<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<authentication-manager alias="proveedorAutenticacion">
		<authentication-provider ref="nuestroProveedor" />
	</authentication-manager>

	<!-- URL pattern based security -->
	<http  entry-point-ref="tenantAuthenticationEntryPoint">
		<intercept-url pattern="/hola**"
			access="ROLE_GENERAL_USER, ROLE_SPECIAL_USER" />
		<custom-filter position="CONCURRENT_SESSION_FILTER" ref="concurrencyFilter" />
		<session-management session-authentication-strategy-ref="sas"/>
		<custom-filter position="FORM_LOGIN_FILTER" ref="usernamePasswordAuthenticationFilter" />
		<logout logout-success-url="/login.html" />
	</http>

</beans:beans>
