<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<authentication-manager>
		<authentication-provider ref="nuestroProveedor" />
	</authentication-manager>


	<!-- Method based security -->
	<!-- <global-method-security> -->
	<!-- <protect-pointcut access="ROLE_SPECIAL_USER" -->
	<!-- expression="execution(* org.swview.springsecuritytestapp.logic.Calculator.add(..))"/> -->
	<!-- <protect-pointcut access="ROLE_GENERAL_USER" -->
	<!-- expression="execution(* org.swview.springsecuritytestapp.logic.Calculator.subtract(..))"/> -->
	<!-- </global-method-security> -->


	<!-- URL pattern based security -->
	<http auto-config="true">
<!-- 	<http> -->
		<intercept-url pattern="/**"
			access="ROLE_GENERAL_USER, ROLE_SPECIAL_USER" />
<!-- 		<custom-filter position="CONCURRENT_SESSION_FILTER" ref="concurrencyFilter" /> -->
		<session-management session-fixation-protection="newSession">
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="true" />
		</session-management>
	</http>

	<!--  This is the spring security configuration. All other declarations are only used to create the references here. -->
<!-- 	<http auto-config="false" use-expressions="true" entry-point-ref="tenantAuthenticationEntryPoint"> -->
<!-- 		<intercept-url pattern="/login.*" access="permitAll"/> -->
<!-- 		<intercept-url pattern="/sessioninfo.jsp" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/> -->
<!--      	        <intercept-url pattern="/*" access="permitAll"/>  -->
<!--     	        <custom-filter position="CONCURRENT_SESSION_FILTER" ref="concurrencyFilter" /> -->
<!--     	        <session-management session-authentication-strategy-ref="sas"/> -->
<!--   		<custom-filter position="FORM_LOGIN_FILTER" ref="usernamePasswordAuthenticationFilter" /> -->
<!--   		The JanRain authentication filter reuses the filter position of the OpenID filter. -->
<!--   		<custom-filter position="OPENID_FILTER" ref="janrainAuthenticationFilter" /> -->
<!--                 <logout logout-success-url="/login.html" /> -->
<!-- 	</http> -->




	<!-- Usernames/Passwords are kamal/swview test/spring -->
	<!-- <authentication-manager> -->
	<!-- <authentication-provider> -->
	<!-- <password-encoder hash="md5" /> -->
	<!-- <user-service> -->
	<!-- <user name="kamal" password="65dc70650690999922d7dcd99dbd4033" -->
	<!-- authorities="ROLE_SPECIAL_USER" /> -->
	<!-- <user name="test" password="2a2d595e6ed9a0b24f027f2b63b134d6" -->
	<!-- authorities="ROLE_GENERAL_USER" /> -->
	<!-- </user-service> -->
	<!-- </authentication-provider> -->
	<!-- </authentication-manager> -->

</beans:beans>
