<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    <display-name>JSFSpringNoSecurityWebApp</display-name>

    <!-- Spring configuration file location -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext-business.xml
            /WEB-INF/applicationContext-security.xml
        </param-value>
    </context-param>
    
     <!-- Let Spring handle all requests coming to the web application through this filter. -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    
     <!-- All the requests to be handled by the above filter -->
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- To start/stop Spring framework automatically. -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <listener>
  		<listener-class>
    		org.springframework.security.web.session.HttpSessionEventPublisher
  		</listener-class>
	</listener>
	
	<listener>
  <listener-class>
    org.springframework.web.context.request.RequestContextListener
  </listener-class>
</listener>
    

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
		<description></description>
		<servlet-name>MovServlet</servlet-name>
		<servlet-class>ar.GeneralServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MovServlet</servlet-name>
		<url-pattern>/tela/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MovServlet</servlet-name>
		<url-pattern>/servico/*</url-pattern>
	</servlet-mapping>
</web-app>